services:
  ghost:
    image: ghost:latest@sha256:85e15524ac7e437720fa4ac3cd4633daaae3f95786a25633415d8d4f7382b4c4
    container_name: ghost
    restart: ${GHOST_RESTART}:always
    ports:
      - "${GHOST_PORT}:2368"
    depends_on:
      db:
        condition: service_healthy
    environment:
      url: ${GHOST_URL}
      database__client: mysql
      database__connection__host: db
      database__connection__user: ${DB_USER}
      database__connection__password: ${DB_PASS}
      database__connection__database: ${DB_DB}
      mail__transport: ${MAIL_TRANSPORT}
      mail__from: ${SMTP_FROM}
      mail__options__host: ${SMTP_HOST}
      mail__options__name: ${SMTP_HOST}
      mail__options__port: ${SMTP_PORT:-587}
      mail__options__auth__user: ${SMTP_USER}
      mail__options__auth__pass: ${SMTP_PASSWORD}
    volumes:
      - ./content:/var/lib/ghost/content
    command: ["node", "current/index.js"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:2368/ghost/"]
      interval: 30s
      timeout: 10s
      retries: 2
      start_period: 30s

  db:
    image: mysql:9.5@sha256:5ca0a273ed28c73acaef91da8bf1eca3711bee94bce4c378d42846375e645a72
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASS}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_DB}
    volumes:
      - ./mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 15