name: Multi-PR

on:
  workflow_dispatch:

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Combine PRs
        uses: bobvanderlinden/combine-pull-requests@v4
        with:
          label: multi-pr
          repo-token: ${{ secrets.GITHUB_TOKEN }}
